@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700;800&display=swap");

:root {
  /*Project Colors */
  --white: #fff;
  --accent-color: #e84e1b;
  font-size: 16px;
  font-family: "Fira Sans", sans-serif;
}
.body {
  background: linear-gradient(223deg, #041c82 6.44%, #00122b 65%, #440784 100%);
  color: var(--white);
  /*height: 100vh;*/
  width: 100vw;
  display: flex;
  padding: 50px 20px 50px 20px;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  max-width: 1080px;
  margin: 0 auto;
}

h1 {
  font-size: 2.5rem;
  font-weight: 900;
}

h2 {
  font-size: 2rem;
  font-weight: 800;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}
h4 {
  font-size: 1rem;
  font-weight: 500;
}
p {
  font-size: 1rem;
  font-weight: 400;
}
