.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 1.5rem;
}
.contact__title {
  width: 100%;
  display: block;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--accent-color);
  text-align: center;
}
.contact__form-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact__form-item span {
  color: var(--accent-color);
}

.contact__form-item input {
  line-height: 2rem;
  padding: 10px;
}
