.contact,
.contact > form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 1.5rem;
}
.contact__title {
  width: 100%;
  display: block;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--accent-color);
  text-align: center;
}
.contact__form-item,
.contact__form-item fieldset {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.contact__form-item--checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.contact__form-item--checkbox input {
  height: 1.5rem;
  width: 1.5rem;
}

.contact__form-item > label {
  font-size: 1.2rem;
}
.contact__form-item fieldset {
  margin-top: 10px;
}

.contact__form-item span {
  color: var(--accent-color);
}

.contact__form-item input {
  line-height: 2rem;
  padding: 10px;
}
.contact__form-item input::placeholder {
  color: #ccc;
}
.contact__form-item__radio input {
  line-height: 2rem;
  margin-left: 20px;
  margin-bottom: 10px;
}
.contact__form-item textarea {
  padding: 10px;
}
.contact__form-item input::placeholder {
  color: #ccc;
}

.contact__form-item--button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}
.contact__form-item--button .btn {
  border: 0;
  color: white;
  padding: 10px 20px;
  font-size: 1.2rem;
}

.contact__form-item--button #reset {
  border: solid 1px var(--accent-color);
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  font-size: 1.2rem;
}
