.body__project-detail {
  height: 100vh;
}

.project-detail__container,
#detail {
  position: relative;
}
.project-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.project-detail__container__video-mockup {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  max-height: 100%;
}

.project-detail__container-front {
  position: absolute;
  top: 0;
  max-width: 500px;
  z-index: 300;
}

.project-detail__container-content {
  /*position: absolute;*/
  top: 0;
  max-width: 500px;
  z-index: 250;
  display: flex;
  justify-content: center;
}
.project-detail__container-content video {
  max-height: 66%;
  margin-top: 10px;
  border-radius: 10px;
}

.project-detail__container-back {
  position: absolute;
  top: 10px;
  max-width: 500px;
  z-index: 200;
}

.project-detail__container-front img,
.project-detail__container-back img {
  width: 100%;
  height: auto;
}

.project-detail__text-description {
  margin-top: -300px;
  padding: 5%;
}

.project-detail__container {
  display: flex;
  justify-content: center;
}

.project-detail__text-btn {
  margin-top: -50px;
}

.project-detail__text-btn a {
  position: relative;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.2rem;
  z-index: 500;
}

@media (768px < width) {
}
