.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.projects__title {
  width: 100%;
  display: block;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--accent-color);
  text-align: center;
}

.projects__project-container {
  margin: 5%;
  padding: 5%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 10px;
  background: #1251b0;
  box-shadow: 0px 4px 15px 0px #030f42;
}
.projects__project-container__thumbnail__image {
}
.projects__project-container__thumbnail__image img {
  border-radius: 10px;
  width: 100%;
}

.projects__project-container__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.projects__project-container__info__title h3 {
  text-transform: uppercase;
}

.projects__project-container__info__separator {
  border-radius: 83px;
  background: linear-gradient(
    270deg,
    #1345c7 0%,
    #13adc7 40.1%,
    #6978d1 66.67%,
    #945dd6 100%
  );
  height: 5px;
  width: 70%;
}
.projects__project-container__info__text p {
  padding: 0 5%;
}

.projects__project-container__info__more-info {
}
.projects__project-container__info__more-info a {
  color: white;
  text-decoration: none;
}
