.body__project-detail {
}
.container {
  display: block;
  height: 90vh;
  width: 100vw;
}
.project-detail__project-container,
#detail {
  position: relative;
}

.project-detail__project-container-front {
  position: absolute;
  top: 0;

  max-width: 500px;
  z-index: 300;
}

.project-detail__project-container-back {
  position: absolute;
  top: 10px;

  max-width: 500px;
  z-index: 200;
}

.project-detail__project-container-front img,
.project-detail__project-container-back img {
  width: 100%;
  height: auto;
}

.project-detail__text-description {
  position: relative;
}
