.body__project-detail {
  height: 100vh;
}

.project-detail__title {
  width: 100%;
  display: block;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--accent-color);
  text-align: center;
}

.project-detail__container,
#detail {
  position: relative;
}
.project-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.project-detail__container__video-mockup {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  max-height: 100%;
}

.project-detail__container-front {
  position: absolute;
  top: 0;
  max-width: 500px;
  z-index: 300;
}

.project-detail__container-content {
  /*position: absolute;*/
  top: 0;
  max-width: 500px;
  z-index: 250;
  display: flex;
  justify-content: center;
}
.project-detail__container-content video {
  max-height: 87%;
  margin-top: 15px;
  border-radius: 10px;
  animation: fadein 1s;
}

.project-detail__container-back {
  position: absolute;
  top: 10px;
  max-width: 500px;
  z-index: 200;
}

.project-detail__container-front img,
.project-detail__container-back img {
  width: 100%;
  height: auto;
}

.project-detail__text-description {
  /*margin-top: -300px;*/
}

.project-detail__text-description,
.project-detail__gallery,
.project-detail__tecnology {
  padding: 0 5%;
  display: block;
  width: 100%;
}

.project-detail__container {
  display: flex;
  justify-content: center;
}

.project-detail__text-btn {
  /*margin-top: -50px;*/
}

.project-detail__text-btn a {
  position: relative;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.2rem;
  z-index: 500;
}

.project-detail__text-description p,
.project-detail__gallery p,
.project-detail__tecnology p {
  padding-bottom: 2rem;
}

.project-detail__text-description__title,
.project-detail__gallery__title,
.project-detail__tecnology__title {
  width: 100%;
  display: block;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--accent-color);
  margin-bottom: 2rem;
}

.project-detail__tecnology-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.project-detail__tecnology__icons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.project-detail__tecnology-container__title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-left: 1rem;
}

.project-detail__tecnology-container__title__image {
  height: 2.5rem;
  width: auto;
}

.project-detail__tecnology-container__title__image img {
  height: 100%;
  width: auto;
}

.project-detail__gallery__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  row-gap: 2rem;
}
.project-detail__gallery__content__image {
  padding: 0.5rem;
  background-color: #ccc;
  border-radius: 5px;
}
.project-detail__gallery__content img {
  width: 100%;
  border-radius: 10px;
}

.icon {
  display: flex;
  height: 1rem;
  align-items: center;
  gap: 0.5rem;
}
.icon img {
  height: 100%;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (768px < width) {
  .project-detail {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "title title title"
      "video description description"
      "video tecnology tecnology"
      "gallery gallery gallery"
      ". back .";
  }

  .project-detail__text-description {
    grid-area: description;
    margin-top: 0;
  }

  .project-detail__gallery {
    grid-area: gallery;
  }
  .project-detail__gallery__content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .project-detail__tecnology {
    grid-area: tecnology;
  }

  .project-detail__text-btn {
    margin-top: 0;
    grid-area: back;
  }
  .project-detail__title {
    grid-area: title;
  }
  .project-detail__container {
    grid-area: video;
  }
}
