.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.skills__title {
  width: 100%;
  display: block;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--accent-color);
  text-align: center;
}

.skills__skill-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.skills__skill-container__title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-left: 1rem;
}

.skills__skill-container__title__image {
  height: 1.5rem;
  width: auto;
}

.skills__skill-container__title__image img {
  height: 100%;
  width: auto;
}
.skills__skill-container__gaugage {
  position: relative;
}
.skills__skill-container__gaugage__container {
  position: absolute;
  top: 0;
  border-radius: 5px;
  border: solid 1px white;
  height: 1rem;
  width: 100%;
  z-index: 50;
}
.skills__skill-container__gaugage__contain {
  position: absolute;
  display: block;
  border-radius: 5px;
  top: 0;
  width: 75%;
  background-color: var(--accent-color);
  height: 1rem;
  z-index: 40;
}

#html5 .skills__skill-container__gaugage__contain {
  width: 90%;
}

#css .skills__skill-container__gaugage__contain {
  width: 80%;
}

#python .skills__skill-container__gaugage__contain {
  width: 30%;
}

#figma .skills__skill-container__gaugage__contain {
  width: 50%;
}

#javascript .skills__skill-container__gaugage__contain {
  width: 40%;
}

#git .skills__skill-container__gaugage__contain {
  width: 60%;
}

@media (768px < width) {
  .skills__grid {
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    gap: 2%;
    grid-auto-columns: 1fr;
    grid-template-areas: "skill skill skill";
  }
}
