.slider__image {
  max-width: 50%;
  margin: 0 auto;
  padding-bottom: 2%;
  padding-top: 2%;
}

@media (768px < width) {
  .hidden-xl {
    display: none;
  }
}

@media (768px >= width) {
  .hidden-xs-md {
    display: none;
  }
}
